<div th:fragment="form(action, form, buttonLabel, errorMessage)">
  	<form th:action="@{${action}}" th:object="${form}" method="POST">
  		<input type="hidden" th:field="*{id}" />
    	Name:
    	<input type="text" th:field="*{name}" />
    	<br/>
    	E-mail:
    	<input type="text" th:field="*{email}" />     
    	<br/>
    	<input type="submit" th:value="${buttonLabel}" />
    	<a href="" th:href="@{/persons/list}">Cancel</a>
  	</form>
	<br/>
  	<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>
</div>