<!DOCTYPE HTML>
<html th:replace="layout/main::layout(~{::title}, ~{::section})" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title th:fragment="title">Person List</title>
	</head>
   	<body>
   		<section>
		  	<h2>Person List</h2>
	     	<table border="1" th:if="${list.size() > 0}">
	            <tr>
	            	<th>ID</th>
	               	<th>Name</th>
	               	<th>Email</th>
	            </tr>
	            <tr th:each ="row,iterStat : ${list}">
	            	<td th:utext="${row.id}">...</td>
	               	<td th:utext="${row.name}">...</td>
	               	<td th:utext="${row.email}">...</td>
	               	<td>
	               		<a th:href="@{/persons/edit/{id}(id=${row.id})}">Edit</a>
	               	</td>
	               	<td>
	               		<a th:href="@{/persons/delete/{id}(id=${row.id})}">Delete</a>
	               	</td>
	            </tr>
	     	</table>
	     	<div th:if="${list.size() == 0}" class="error">No results</div>
	  	</section>
   	</body>
</html>